apiVersion: 
kind: 
metadata:
  name:
  namespace: 
type: 
stringData:
  ConnectionStrings__DefaultConnection:
  Jwt__Secret: 
  Jwt__Issuer: 
  Jwt__Audience:
  Jwt__TokenLifetimeMinutes:
  ConnectionStrings__Redis:
  POSTGRES_USER: 
  POSTGRES_PASSWORD:
  POSTGRES_DB:
  PGADMIN_DEFAULT_EMAIL:
  PGADMIN_DEFAULT_PASSWORD:
  REDIS_PASSWORD: 
  DOCKERHUB_USERNAME: