#Database connection string for production environment
ConnectionStrings__DefaultConnection=

# JWT settings
Jwt__Secret=
Jwt__Issuer=
Jwt__Audience=
Jwt__Issuer=
Jwt__TokenLifetimeMinutes=
ConnectionStrings__Redis=